@model MemeMeUp.Models.Caption

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@ViewBag.MemeTitle</legend>

        <table>
            <tr>
                <td valign="top">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TopText)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.TopText)
                        @Html.ValidationMessageFor(model => model.TopText)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.BottomText)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.BottomText)
                        @Html.ValidationMessageFor(model => model.BottomText)
                    </div>
                    <p>
                        <input type="button" value="Preview me!!!" id="myLink" />
                        <input type="submit" value="Create" id="Submit" name="Submit" />
                    </p>
                </td>
                <td valign="top">
                    <div id="previewPictureDiv">
                        <img src="/Uploads/@ViewBag.ParentMemeUrl" id="previewPictureImg" />
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#myLink').on('click', function () {
                $("#previewPictureDiv").animate({opacity:0}, 300, "linear", function(){
                    var mid = @ViewBag.ParentMemeID ;
                    var tt = $("#TopText").val();
                    var bt = $("#BottomText").val();

                    var tempCaption = { MemeID: mid, TopText: tt, BottomText: bt };

                    $.post("/Caption/Preview", tempCaption, function (json) {
                        //alert(json.someProperty);
                        var newHtml = "<img src='data:image/png;base64," + json.base64imgage + "' />";
                        $("#previewPictureDiv").html(newHtml);
                        $("#previewPictureDiv").animate({opacity:1},1200, "linear", function() {}) ;
                    });
                    return false;
                })
            });
        });
    </script>
}
