@model MemeMeUp.Models.Caption

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Caption</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TopText)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TopText)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BottomText)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BottomText)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AddedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AddedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Enabled)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Enabled)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
