@model MemeMeUp.Models.Meme

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<fieldset>
    <legend>Meme</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-field">
        <img src="/Uploads/@ViewBag.FileURL" />
    </div>

</fieldset>
<p>
        @Html.ActionLink("Create a caption for this meme!", "Create", "Caption", new {id=ViewBag.MemeID }, null)
</p>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
